<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random memes</title>
</head>

<body style="background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614287618_74-p-chernii-fon-so-smailikami-89.jpg')">
<div style="position: absolute;top: 50%; left:50%;transform: translate(-50%,-50%)">
<img id="image" src="{{ memes }}" style="height: 800px">
</div>
<form action="" style="position: absolute;top:93%;left:50%;transform:translateX(-50%)">
        <button class="button-74" role="button" style="background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
   --button-hover-bg: #000;
    --default-button-hover-bg:  #fff">Словить ха-ха еще раз</button>
        </form>
</body>
</html>